/* Nothing yet */
body {
  background-color: rgb(20, 74, 20);
  color: rgb(174, 174, 174);
  margin: 1rem;
}

section.song {
  border-bottom: 0.5rem solid #003300;
  margin-bottom: 3rem;
}

section.song header {
  border-bottom: 1px solid #999999;
  margin-bottom: 1rem;
}

section.song footer {
  font-style: italic;
  text-align: right;
}
