$themeColour-Background: #383508;
$themeColour-BackgroundOdd: #222005;
$themeColour-BackgroundEven: #2a2806;
$themeColour-Title: #a79e19;
$themeColour-TitleBackground: #0d0c02;
$themeColour-Text: #d0d0d0;
$themeColour-HeaderSeparator: #222005;
$themeColour-Link: #6ecfcf;
$themeColour-VisitedLink: #6eafaf;
$themeColour-HoverLink: #cf6e6e;
$themeColour-Input: #f1eb9c;
$themeColour-InputFocus: #ffffff;
$themeColour-InputBorder: #003300;
$themeColour-InputBorderFocus: #99ccff;

body {
    background-color: $themeColour-Background;
    margin: 1rem;
    color: $themeColour-Text;
}

img { border: none; }

a:link {
    color: $themeColour-Link;
}

a:visited {
    color: $themeColour-VisitedLink;
}

a:hover {
    color: $themeColour-HoverLink;
}

.form-validation-error {
    font-weight: bold;
}

textarea, input[type="text"], input[type="password"], input[type="email"] {
    border-color: $themeColour-InputBorder !important;
    border-width: 3px !important;
    background-color: $themeColour-Input !important;
    &:focus {
        background-color: $themeColour-InputFocus !important;
        border-color: $themeColour-InputBorderFocus !important;
    }
}

button {
    margin-right: 1rem;
}

form {
    margin-bottom: 2rem;
}

section.song {
    margin-bottom: 3rem;

    header {
        border-bottom: 1px solid $themeColour-HeaderSeparator;
        margin-bottom: 1rem;
    }

    footer {
        .song-tags {
            font-size: 87%;
        }

        .metadata {
            font-style: italic;
            text-align: right;
            font-size: 87%;
        }
    }
}

.odd-song {
    background-color: $themeColour-BackgroundOdd;
}

.even-song {
    background-color: $themeColour-BackgroundEven;
}

.song-tag, .song-tag-remove {
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
}

.markdown-preview {
    border: 1px solid black;
    margin-bottom: 2rem;
    display: none;
}

.tag-list {
    margin-top: 1rem;
    margin-left: -2.4rem;
    list-style: none;

    li {
        display: inline-block;
    }
}

.tag-button {
    margin-bottom: 0.5rem;
}

h2.title {
    font-weight: 800;
    font-size: 2rem;
    display:  block;
    color: $themeColour-Title;
    background-color: $themeColour-TitleBackground;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h3.artist {
    font-weight: 300;
    font-size: 1.5rem;
    font-style: oblique;
}

h4.release {
    font-weight: 200;
    font-size: 1rem;
}

/* COMMENTS */
.comments {
    .unmoderated {
        background-color: goldenrod;
    }

    ul {
        list-style: none;
        padding-bottom: 1.5rem;
    }

    li {
        margin-top: 3rem;
        border-left: 1px solid #a3b59f;
        border-bottom: 1px solid #a3b59f;
        padding-left: 0.5rem;
    }

    & > ul > li {
        padding-bottom: 1rem;
        border-bottom: 3px solid #a3b59f;
    }
}

.comment-header {
    font-weight: normal;
    font-size: 1rem;
    border-bottom: 1px solid #999999;
    margin-bottom: 2px;

    .author {
        margin-right: 1.5rem;
    }

    .date {
        font-size: 0.87rem;
    }
}

div.youtube {
    margin-bottom: 1em;
}
