body {
  background-color: #383508;
  margin: 1rem;
  color: #d0d0d0; }

img {
  border: none; }

a:link {
  color: #6ecfcf; }

a:visited {
  color: #6eafaf; }

a:hover {
  color: #cf6e6e; }

.form-validation-error {
  font-weight: bold; }

textarea, input[type="text"], input[type="password"], input[type="email"] {
  border-color: #003300 !important;
  border-width: 3px !important;
  background-color: #f1eb9c !important; }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    background-color: #ffffff !important;
    border-color: #99ccff !important; }

button {
  margin-right: 1rem; }

form {
  margin-bottom: 2rem; }

section.song {
  margin-bottom: 3rem; }
  section.song header {
    border-bottom: 1px solid #222005;
    margin-bottom: 1rem; }
  section.song footer .song-tags {
    font-size: 87%; }
  section.song footer .metadata {
    font-style: italic;
    text-align: right;
    font-size: 87%; }

.odd-song {
  background-color: #222005; }

.even-song {
  background-color: #2a2806; }

.song-tag, .song-tag-remove {
  margin-left: 0.2rem;
  margin-bottom: 0.5rem; }

.markdown-preview {
  border: 1px solid black;
  margin-bottom: 2rem;
  display: none; }

.tag-list {
  margin-top: 1rem;
  margin-left: -2.4rem;
  list-style: none; }
  .tag-list li {
    display: inline-block; }

.tag-button {
  margin-bottom: 0.5rem; }

h2.title {
  font-weight: 800;
  font-size: 2rem;
  display: block;
  color: #a79e19;
  background-color: #0d0c02;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

h3.artist {
  font-weight: 300;
  font-size: 1.5rem;
  font-style: oblique; }

h4.release {
  font-weight: 200;
  font-size: 1rem; }

/* COMMENTS */
.comments .unmoderated {
  border: 1px solid #ff9933;
  background: #2a2806;
  padding: 1rem; }
  .comments .unmoderated .mod-warning {
    color: #ff9933;
    font-style: oblique;
    font-weight: bold;
    display: block; }
.comments ul {
  padding-top: 1rem;
  background-color: #2a2806;
  list-style: none;
  margin-right: 1rem; }
  .comments ul.comment-root {
    padding-bottom: 1rem; }
.comments li {
  margin-top: 1rem; }
.comments span.comment-at {
  color: #a79e19;
  float: left;
  margin-right: 0.5rem;
  font-weight: bold; }

.comment-header {
  font-weight: normal;
  font-size: 1rem;
  border-bottom: 1px solid #555555;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem; }
  .comment-header .author strong {
    color: #a79e19;
    margin-left: 0.35rem;
    margin-right: 0.5rem; }
  .comment-header .date {
    font-size: 0.87rem; }

div.youtube {
  margin-bottom: 1em; }

tr.song-is-not-published {
  background-color: #cd5c5c !important; }

.comment-edits h4 {
  display: none; }
.comment-edits .editor {
  color: #a79e19;
  margin-left: 0.35rem;
  margin-right: 0.5rem; }
.comment-edits .date {
  font-size: 0.87rem; }
.comment-edits ul li {
  margin: 0;
  padding: 0.1rem; }

.links h4 {
  display: none; }

#new-comment-thread {
  margin-right: 1.25rem; }

/*# sourceMappingURL=songs-to-the-siren.css.map */
